/* ----------------------------------
Main Font    : DM Sans
Main Color   : #F3F6FD;
-------------------------------------

>>> Typography:
================

Body copy:    18px 'DM Sans', sans-serif
Header:     36px 'Yantramanav', sans-serif
Input, textarea:  10px 'Syne', sans-serif

*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&family=Yantramanav:wght@100;300;400;500;700;900&display=swap");

/* Varialbes */
:root {
  --dark1: #1c1c1c;
  --dark2: #454545;
  --light_white: #f9f9f9;
  --primary_color: #1351d8;
  --primary_color2: #4f8dff;
  --primary_light: #f3f6fd;
  --primary_light2: rgb(19 81 216 / 10%);
  --gray: #d9d9d9;
  --font_syne: "Syne", sans-serif;
  --font_yantramanv: "Yantramanav", sans-serif;
  --font_dm: "DM Sans", sans-serif;
  --yellow_color: #ffd600;
}

/* ============================================================== 
     # Reset Browsers
=================================================================== */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
}
input:focus,
textarea:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

/* ==============================================================
    # Template Default Styles
=================================================================== */

body {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}

.custom-container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 15px;
}

.custom-row {
  display: flex;
  width: 100%;
}
.flex-1 {
  flex: 1;
}
.w-full {
  width: 100%;
}
.gap-24 {
  gap: 24px;
}

.card-h:hover .theme-btn i {
  transition: transform 0.5s;
  transform: rotate(45deg);
}
.card-h1:hover .theme-btn i {
  transition: transform 0.5s;
  transform: rotate(45deg);
}

/* ============================================================== 
    # Button Styles
=================================================================== */

.theme-btn2,
.theme-btn {
  font-size: 18px;
  font-weight: 400;
  color: var(--light_white);
  background: var(--primary_color);
  display: inline-flex;
  align-items: center;
  padding: 13px 26px;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
  overflow: hidden;
  text-decoration: none !important;
  gap: 10px;
}
.theme-btn2::after,
.theme-btn2::before,
.theme-btn::after,
.theme-btn::before {
  content: "";
  width: 50%;
  height: 0;
  background: var(--dark1);
  border-radius: 30px 0 0 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}
.theme-btn2::after,
.theme-btn::after {
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  border-radius: 0 30px 30px 0;
}
.theme-btn2:hover,
.theme-btn:hover {
  color: var(--light_white);
}
.theme-btn2:hover::after,
.theme-btn2:hover::before,
.theme-btn:hover::after,
.theme-btn:hover::before {
  height: 100%;
}
.theme-btn2 {
  background: #1351d81a;
  color: var(--primary_color);
}
.theme-btn2::after,
.theme-btn2::before {
  background: var(--primary_color);
}
.theme-btn2 i {
  transition: 0.3s;
}
.theme-btn:hover i,
.theme-btn2:hover i {
  transition: transform 0.5s;
  transform: rotate(45deg);
}
.theme-btn:hover i,
.theme-btn2:hover i {
  fill: #ffffff;
}

.simple-shadow {
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  background: #ffffff;
  padding: 10px;
}

/* ============================================================== 
    # Section-subtitle Styles
=================================================================== */


.section-subtitle {
    font-family: var(--font_syne);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 5px;
    color: var(--primary_color);
    margin: 0;
    text-transform: uppercase;
}
.section-subtitle1{
    font-size: 12px;
}
.section-title {
    font-family: var(--font_yantramanv);
    font-size: 60px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1px;
}

/* ============================================================== 
    # Template Animation
=================================================================== */

/*slide-left Animation */
.slide-left {
    animation: slideLeft 1s;
}

/*slide-right Animation */
.slide-right {
    animation: slideRight 1s;
}

/*fade-in Animation */
.fade-in {
    animation: fadeIn 1s cubic-bezier(.97,.01,.92,1);
}

/*bounce-in Animation */
.bounce-in {
    animation: bounceIn 0.5s ease;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

/*pop-in Animation */
.pop-in {
    animation: popIn 1.5s ease;
}

/*delay-2 Animation */
.delay-2 {
    animation-delay: 1.5s;
}

/*delay-3 Animation */
.delay-3 {
    animation-delay: 2s;
}

/*fadeIn Effects */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*bounceIn Effects */
@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    70% { transform: scale(.9); }
    100% { transform: scale(1); visibility: visible; }
}

/*popIn Effects */
@keyframes popIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/*slideLeft Effects */
@keyframes slideLeft {
    0%{
        transform: translateX(-900px) rotate(-90deg);
    }
    100% {
        transform: translateX(0) rotate(0);
    }
}

/*slideRight Effects */
@keyframes slideRight {
    0%{
        transform: translateX(900px) rotate(90deg);
    }
    100% {
        transform: translateX(0) rotate(0);
    }
}
/*Animations End*/

/* ==============================================================
    # Template Styles
=================================================================== */

/* Header Bar */
.header-bar {
  background: var(--dark1);
  color: var(--light_white);
  padding: 14px 0;
}

.country-select {
  background: none;
  border: none;
  margin: 0;
  display: block;
  color: var(--light_white);
  font-weight: 500;
  letter-spacing: 0.5px;
  padding-right: 10px;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("../images/header/caret.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 10px;
  cursor: pointer;
}

.country-select:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.header-bar .header-bar-body p {
  margin: 0;
}

.header-bar .header-bar-body p a {
  color: var(--light_white);
  font-weight: 600;
  border-bottom: 1px solid;
  display: inline-block;
  line-height: 1.1;
}

.header-bar-white {
  background: #ffffff;
  border-bottom: 1px solid #d9d9d9;
}

.header-bar-white .header-bar-body p a,
.header-bar-white .header-bar-body p,
.header-bar-white .country-select {
  color: var(--dark1);
}

.header-bar-white .country-select {
  background-image: url(../images/header/caret-black.svg);
}

.header-bar .header-bar-body .right p {
  overflow: hidden;
}

#dataWord {
  display: inline-block;
  position: relative;
  transition: 0.3s ease;
}

#dataWord:hover {
  transform: translateY(-106%);
  transform-origin: 0% 0%;
  border-bottom: none;
}

#dataWord::before {
  content: attr(data-word);
  position: absolute;
  top: 108%;
  left: 0;
  border-bottom: 1px solid;
}
/* Heder Bar End */

/* Header */
.header-area {
  border-bottom: 1px solid var(--gray);
  /* padding: 26px 0; */
  position: sticky;
  top: 0;
  z-index: 1024;
  background: #ffffff;
}

.header-area.header-2 {
  background: none;
}

.header-area .header-left {
  gap: 68px;
}

.header-area .header-left .header-left-right {
  display: none;
  align-items: center;
  gap: 8px;
}

.header-area .header-left .menu-bar {
  display: none;
  width: 53px;
  height: 53px;
  text-align: center;
  line-height: 53px;
  font-size: 26px;
  border-radius: 10px;
  transition: 0.3s;
  color: var(--dark1);
  background: rgb(19 81 216 / 10%);
  color: var(--primary_color);
}

.header-area .logo {
  display: block;
}

.header-area .logo img {
  display: block;
  max-width: 166px;
}

.header-area .navbar-wrapper .close-menu-bar {
  display: none;
  position: absolute;
  right: 80px;
  top: 20px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  border: 1px solid rgb(28 28 28 / 10%);
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.header-area .navbar-wrapper .close-menu-bar:hover {
  color: red;
  border-color: red;
}

.header-area .navbar-wrapper > ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-area .navbar-wrapper > ul > li > ul {
  display: none;
}

.header-area .navbar-wrapper ul li.dropdown-menu-item {
  position: relative;
}

.header-area .navbar-wrapper ul li .dropdown-menu-item-icon {
  display: none;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  background: rgb(19 81 216 / 10%);
  color: var(--primary_color);
}

.header-area .navbar-wrapper ul li a {
  color: var(--dark1);
  font-size: 18px;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  transition: 0.3s;
}

.header-area .navbar-wrapper ul li a:hover {
  color: #1351d8;
}

.header-area .navbar-wrapper > ul > li {
  line-height: 106px;
}

.header-area .navbar-wrapper ul li > .dropdown-menu {
  display: block;
  width: 242px;
  border: 1px solid var(--gray);
  padding: 10px 40px;
  box-shadow: 0px 4px 30px 5px rgba(0, 0, 0, 0.05);
  margin: 0;
  top: 120%;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.header-area .navbar-wrapper ul li:hover > .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.header-area .navbar-wrapper ul li > .dropdown-menu li {
  border-bottom: 1px solid var(--gray);
  line-height: 1.5;
}

.header-area .navbar-wrapper ul li > .dropdown-menu li a {
  font-size: 16px;
  display: block;
  padding: 8px 0 8px 0;
  margin: 7px 0;
}

.header-area .navbar-wrapper ul li > .dropdown-menu li:last-child {
  border: none;
}

.header-area .navbar-wrapper ul li > .dropdown-menu li:first-child a {
  margin-top: 0;
}

.header-area .navbar-wrapper ul li > .dropdown-menu li:last-child a {
  margin-bottom: 0;
}

.header-area .navbar-wrapper ul li.dropdown-menu-item a,
.header-area .navbar-wrapper ul li.mega-menu-item a {
  padding-right: 16px;
}

.header-area .navbar-wrapper ul li.mega-menu-item > a:after,
.header-area .navbar-wrapper ul li.dropdown-menu-item > a:after {
  content: "";
  border-left: 5px solid transparent;
  border-top: 5px solid var(--dark1);
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
  right: 0;
  top: 10px;
}

.header-area .navbar-wrapper ul li .mega-menu {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1024;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  overflow-x: hidden;
  transition: 0.1s;
  opacity: 0;
  visibility: hidden;
  border-top: 1px solid var(--gray);
}

.header-area.header-2 .navbar-wrapper ul li .mega-menu {
  width: calc(100% - 240px);
  background: none;
  border-radius: 10px;
  left: 120px;
  box-shadow: 0px 4px 30px 5px rgba(0, 0, 0, 0.03);
  height: auto;
}

.header-area .navbar-wrapper ul > li:hover > .mega-menu {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

.header-area .navbar-wrapper ul li .mega-menu .mega-menu-inner {
  background: #ffffff;
}

.header-area .navbar-wrapper ul li .mega-menu .mega-menu-inner .left {
  flex: 1;
  padding: 66px 105px 0 0;
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu
  .mega-menu-inner
  .mega-menu-link-wrap {
  border-bottom: 1px solid #d9d9d9;
  padding: 0 0 66px 0;
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu.mega-menu-portfolio
  .mega-menu-inner
  .mega-menu-link-wrap {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 24px;
  flex-wrap: wrap;
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu.mega-menu-portfolio
  .mega-menu-inner
  .mega-menu-link-wrap {
  width: 100%;
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu.mega-menu-portfolio
  .mega-menu-inner
  .mega-menu-portfolio-card {
  display: flex;
  gap: 24px;
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu.mega-menu-portfolio
  .mega-menu-inner
  .mega-menu-portfolio-card
  .img-box {
  border-radius: 10px;
  max-width: 233px;
  width: 100%;
  flex: none;
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu.mega-menu-portfolio
  .mega-menu-inner
  .mega-menu-portfolio-card
  .img-box
  img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  border-radius: 10px;
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu.mega-menu-portfolio
  .mega-menu-inner
  .mega-menu-portfolio-card
  h3 {
  font-family: var(--font_yantramanv);
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.5px;
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu.mega-menu-portfolio
  .mega-menu-inner
  .mega-menu-portfolio-card
  h3
  a {
  line-height: 1;
  color: var(--dark1);
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu.mega-menu-portfolio
  .mega-menu-inner
  .mega-menu-portfolio-card
  p {
  font-size: 16px;
  line-height: 26px;
  color: rgb(28 28 28 / 70%);
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu
  .mega-menu-inner
  .mega-menu-service-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 10px;
  line-height: 1;
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu
  .mega-menu-inner
  .mega-menu-service-cards
  .mega-menu-service-card {
  border-radius: 10px;
  background: rgba(19, 81, 216, 0.03);
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 26px;
  line-height: 1;
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu
  .mega-menu-inner
  .mega-menu-service-cards
  .mega-menu-service-card
  .icon {
  width: 70px;
  height: 70px;
  flex: none;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(19, 81, 216, 0.1);
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu
  .mega-menu-inner
  .mega-menu-service-cards
  .mega-menu-service-card
  .icon
  img {
  display: block;
  margin: 0;
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu
  .mega-menu-inner
  .mega-menu-service-cards
  .mega-menu-service-card
  .content
  h2,
.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu
  .mega-menu-inner
  .mega-menu-service-cards
  .mega-menu-service-card
  .content
  h2
  a {
  font-size: 17px;
  line-height: 1;
  color: var(--primary_color);
  margin-bottom: 5px;
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu
  .mega-menu-inner
  .mega-menu-service-cards
  .mega-menu-service-card
  .content
  p {
  margin-bottom: 0;
  line-height: 1;
  font-size: 17px;
  color: rgb(28 28 28 / 85%);
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu
  .mega-menu-inner
  .mega-menu-links {
  gap: 130px;
  padding-right: 25px;
}

.header-area .navbar-wrapper .mega-menu-link h3 {
  font-size: 16px;
  color: rgb(28 28 28 / 90%);
  margin-bottom: 32px;
  line-height: 1;
  font-weight: 600;
}

.header-area .navbar-wrapper .mega-menu-link ul li {
  line-height: 1;
}

.header-area .navbar-wrapper .mega-menu-link ul li + li {
  margin-top: 25px;
}

.header-area .navbar-wrapper .mega-menu-link ul li a {
  color: rgb(28 28 28 / 75%);
  padding: 0;
  font-weight: 400;
  display: block;
}

.header-area .navbar-wrapper .mega-menu-link ul li a:hover {
  color: var(--primary_color);
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu
  .mega-menu-inner
  .mega-meu-footer {
  padding: 30px 0 30px 0;
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu
  .mega-menu-inner
  .mega-meu-footer
  p {
  margin-bottom: 0;
  font-size: 16px;
  color: rgb(28 28 28 / 75%);
  line-height: 1;
  font-weight: 400;
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu
  .mega-menu-inner
  .mega-meu-footer
  p
  a {
  color: var(--primary_color);
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu.mega-menu-portfolio
  .mega-menu-inner
  .mega-meu-footer
  p
  a
  i {
  height: 16px;
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu
  .mega-menu-inner
  .mega-meu-footer
  .mega-menu-social {
  gap: 22px;
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu
  .mega-menu-inner
  .mega-meu-footer
  .mega-menu-social
  li {
  line-height: 1;
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu
  .mega-menu-inner
  .mega-meu-footer
  .mega-menu-social
  li
  a {
  display: block;
  font-size: 22px;
  color: var(--primary_color);
  padding-right: 0;
}

.header-area .navbar-wrapper ul li .mega-menu .mega-menu-inner .right {
  position: relative;
  z-index: 1;
  padding: 50px 0 50px 50px;
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu
  .mega-menu-inner
  .right
  .mega-menu-ads {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-area .navbar-wrapper ul li .mega-menu .mega-menu-inner .right::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1500px;
  z-index: -1;
  background: #f6f6f6;
  left: 0;
  top: 0;
}

.header-area.header-2
  .navbar-wrapper
  ul
  li
  .mega-menu
  .mega-menu-inner
  .right::before {
  background: #ecf1fc;
}

.header-area .navbar-wrapper ul li .mega-menu .mega-menu-inner .right img {
  display: block;
  border-radius: 10px;
  margin-bottom: 30px;
}

.header-area .navbar-wrapper ul li .mega-menu .mega-menu-inner .right h2 {
  font-family: var(--font_yantramanv);
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.5px;
  margin-bottom: 10px;
}

.header-area .navbar-wrapper ul li .mega-menu .mega-menu-inner .right p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(28 28 28 / 70%);
  margin-bottom: 15px;
}

.header-area .navbar-wrapper ul li .mega-menu .mega-menu-inner .right a {
  display: inline-block;
  color: var(--primary_color);
  border-bottom: 1px solid var(--primary_color);
  line-height: 1;
  padding-right: 0;
  font-size: 16px;
  font-weight: 500;
}

.header-area .header-contact-info {
  gap: 40px;
}

.header-area .header-contact-info .phone-number {
  font-size: 18px;
  line-height: 1;
  position: relative;
  padding: 0 40px;
  font-weight: 500;
}

.header-area .header-contact-info .phone-number:before,
.header-area .header-contact-info .phone-number:after {
  content: "";
  width: 2px;
  height: 34px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  background: var(--gray);
  top: 50%;
  margin-top: -17px;
}

.header-area .header-contact-info .phone-number:after {
  left: auto;
  right: 0;
}

.header-area .header-contact-info .phone-number a {
  display: block;
  color: var(--primary_color);
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.header-area .header-contact-info .phone-number a i {
  height: 14px;
}

.header-area
  .navbar-wrapper
  ul
  li
  .mega-menu.mega-menu-portfolio
  .mega-menu-inner
  .mega-meu-footer
  p
  a:hover
  i {
  transition: transform 0.5s;
  transform: rotate(45deg);
}

.header-area .header-contact-info .phone-number a:hover i {
  transition: transform 0.5s;
  transform: rotate(45deg);
}

.header-2 {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  border: none;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 1024;
  transition: 0.3s;
}

.header-2.is-fixed {
  background: #ffffff;
  box-shadow: 0px 4px 30px 5px rgba(0, 0, 0, 0.03);
}

.header-2 .navbar-wrapper {
  border-radius: 30px;
  background: #1351d80d;
  gap: 40px;
  padding: 0 40px;
}

.header-2 .navbar-wrapper > ul > li {
  line-height: 50px;
}

.header-2 .navbar-wrapper .country-select {
  color: var(--dark1);
  background-image: url(../images/header/caret-black.svg);
}

.header-2 .navbar-wrapper ul li .dropdown-menu {
  border: none;
  box-shadow: 0px 4px 30px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
/* Header End */

/* Hero */
.hero-empowerment-area {
  background: linear-gradient(
    180deg,
    rgba(243, 246, 253, 0.7) 0%,
    rgba(243, 246, 253, 0) 86.26%
  );
  padding-top: 124px;
}

.hero-empowerment-area .custom-row {
  gap: 75px;
  padding-bottom: 124px;
  border-bottom: 1px solid var(--gray);
}

.hero-empowerment-area .custom-row * {
  margin: 0;
}

.hero-empowerment-area .custom-row > * {
  flex: 1;
}

.hero-empowerment-area .hero-empowerment-right-content {
  max-width: 716px;
  width: 100%;
  flex: none;
}

.hero-empowerment-area .hero-empowerment-right-content .top-content .mobile {
  display: none;
}

.hero-empowerment-area .hero-empowerment-left-content h5 {
  margin-bottom: 16px;
}

.hero-empowerment-area .hero-empowerment-left-content h1 {
  font-size: 88px;
  font-weight: 500;
  line-height: 82px;
  letter-spacing: -2px;
  margin-bottom: 40px;
  font-family: var(--font_yantramanv);
}

.hero-empowerment-area .hero-empowerment-left-content p {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 30px;
}

.hero-empowerment-area .hero-empowerment-left-content .btns-group {
  gap: 16px;
}

.hero-empowerment-area .hero-empowerment-left-content .btns-group > * {
  font-weight: 500;
}

.hero-empowerment-area .hero-empowerment-right-content .top-content {
  position: relative;
  margin-bottom: 24px;
}

.hero-empowerment-area .hero-empowerment-right-content .top-content img {
  display: block;
  border-radius: 10px;
  width: 100%;
}

.hero-empowerment-area
  .hero-empowerment-right-content
  .top-content
  .experience-box {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffffff;
  border-radius: 10px;
  padding: 41px 71px;
}

.hero-empowerment-area
  .hero-empowerment-right-content
  .top-content
  .experience-box
  .experience-body {
  gap: 30px;
}

.hero-empowerment-area
  .hero-empowerment-right-content
  .top-content
  .experience-box
  .experience-content {
  gap: 10px;
}

.hero-empowerment-area
  .hero-empowerment-right-content
  .top-content
  .experience-box
  .experience-content
  h1 {
  font-family: var(--font_syne);
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.5px;
}

.hero-empowerment-area
  .hero-empowerment-right-content
  .top-content
  .experience-box
  .experience-content
  p {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary_color);
  line-height: 1.3;
}

.hero-empowerment-area
  .hero-empowerment-right-content
  .top-content
  .experience-box
  .experience-content
  p
  span {
  color: var(--dark1);
  opacity: 0.85;
  display: block;
}

.hero-empowerment-area .hero-empowerment-right-content .bottom-content {
  gap: 24px;
}

.hero-empowerment-area .hero-empowerment-right-content .bottom-content > * {
  flex: 1;
}

.hero-empowerment-area
  .hero-empowerment-right-content
  .bottom-content
  .our-expert-team-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 40px 30px 40px 37px;
  max-width: 360px;
  width: 100%;
  flex: none;
}

.our-expert-team-box .our-expert-team-box-inner {
  gap: 10px;
}

.our-expert-team-box .imgs img {
  display: block;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.our-expert-team-box .imgs1 img {
  width: 40px;
}

.our-expert-team-box .imgs img + img {
  margin-left: -12px;
}

.our-expert-team-box .our-expert-team-box-inner p {
  line-height: 1;
  font-weight: 500;
  color: var(--primary_color);
  margin-bottom: 0;
}

.our-expert-team-box .our-expert-team-box-inner p span {
  opacity: 0.85;
  color: var(--dark1);
}

.hero-empowerment-area
  .hero-empowerment-right-content
  .bottom-content
  .google-reviews-box {
  display: flex;
  align-items: flex-start;
  padding: 40px 52px;
  gap: 20px;
}

.hero-empowerment-area
  .hero-empowerment-right-content
  .bottom-content
  .google-reviews-box
  .left
  img {
  display: block;
}

.hero-empowerment-area
  .hero-empowerment-right-content
  .bottom-content
  .google-reviews-box
  .left
  span {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: var(--dark2);
  margin-bottom: 12px;
}

.hero-empowerment-area
  .hero-empowerment-right-content
  .bottom-content
  .google-reviews-box
  .stars {
  gap: 3px;
  margin-bottom: 14px;
  margin-top: -5px;
}

.hero-empowerment-area
  .hero-empowerment-right-content
  .bottom-content
  .google-reviews-box
  .stars
  i {
  color: var(--yellow_color);
  font-size: 21px;
}

.hero-empowerment-area
  .hero-empowerment-right-content
  .bottom-content
  .google-reviews-box
  .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}

.hero-empowerment-area
  .hero-empowerment-right-content
  .bottom-content
  .google-reviews-box
  .right
  p {
  color: var(--primary_color);
  font-weight: 400;
  line-height: 1;
}

.hero-empowerment-area
  .hero-empowerment-right-content
  .bottom-content
  .google-reviews-box
  .right
  p
  span {
  color: var(--dark1);
  opacity: 0.82;
}
/* Hero End */

/* Client */
.client-area {
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}

.client-area .clients {
    gap: 30px;
    padding-right: 20px;
    margin-right: 20px;
}

.client-area .clients .client-logo {
    min-width: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.client-area .clients .client-logo img {
    display: block;
}

.client-area-2 {
    padding-top: 0;
    padding-bottom: 220px;
}

.client-area-2 .clients {
    overflow: hidden;
    gap: 0;
    box-shadow: 0px 4px 20px 5px rgba(0,0,0,0.03);
    padding: 54px 0;
    border-radius: 10px;
}

.client-area-2 .clients .client-logo {
    height: auto;
    box-shadow: none;
    border-radius: 0;
    position: relative;
    min-width: 210px;
    padding: 0;
}

.client-area-2 .clients .client-logo::before {
    content: '';
    width: 2px;
    height: 34px;
    background: var(--gray);
    border-radius: 10px;
    position: absolute;
    right: 0;
}

.client-area-2 p {
    text-align: center;
    font-size: 25px;
    color: rgb(28 28 28 / 80%);
    border-top: 1px solid var(--gray);
    padding-top: 115px;
    margin-bottom: 60px;
}
/* Client End */

/* How-We-Do */
.how-we-do-area {
    padding-top: 95px;
}

.how-we-do-area .custom-row .how-we-do-bg {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
}

.how-we-do-area .custom-container > .custom-row {
    background: var(--dark1);
    border-radius: 10px;
    padding: 50px;
    position: relative;
    z-index: 1;
}

.how-we-do-area .how-we-do-left-content {
    flex: none;
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.how-we-do-area .how-we-do-left-content .top .section-title {
    color: #ffffff;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 13px;
}

.how-we-do-area .how-we-do-left-content .top .section-subtitle {
    margin-bottom: 20px;
    color: var(--primary_color2);
}

.how-we-do-area .how-we-do-left-content .top p {
    color: #ffffff;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

.how-we-do-area .how-we-do-right-content {
    flex: 1;
    padding: 20px 0;
}

.how-we-do-area .how-we-do-left-content .theme-btn::before,
.how-we-do-area .how-we-do-left-content .theme-btn::after {
    background: #ffffff;
}

.how-we-do-area .how-we-do-left-content .theme-btn:hover {
    color: var(--dark1);
}

.how-we-do-area .how-we-do-left-content .theme-btn:hover svg path {
    fill: var(--dark1);
}

.how-we-do-area .how-we-do-right-content .how-we-do-items {
    gap: 100px;
}

.how-we-do-card {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 10px;
    padding: 15px 32px 15px 15px;
    gap: 26px;
    position: relative;
    min-width: 255px;
}

.how-we-do-card .how-we-do-icon {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    background: var(--primary_light2);
}

.how-we-do-card .how-we-do-content {
    font-size: 17px;
    font-weight: 500;
    line-height: 1;
}

.how-we-do-card .how-we-do-content h4 {
    color: var(--primary_color);
    font-size: 17px;
    margin-bottom: 5px;
}

.how-we-do-card .how-we-do-content p {
    margin: 0;
    color: rgb(28 28 28 / 85%);
}

.how-we-do-area .how-we-do-right-content .how-we-do-items + .how-we-do-items {
    margin-top: 80px;
}

.how-we-do-area .how-we-do-right-content .how-we-do-items .how-we-do-card .circle-shape {
    position: absolute;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    top: 50%;
    margin-top: -10px;
}

.how-we-do-area .how-we-do-right-content .how-we-do-items .how-we-do-card .circle-shape:before {
    content: '';
    border-radius: 50%;
    background: var(--primary_color);
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.how-we-do-area .how-we-do-right-content .how-we-do-items:first-child .how-we-do-card:first-child .circle-shape {
    display: none;
}

.how-we-do-area .how-we-do-right-content .how-we-do-items .how-we-do-card .line-shape {
    position: absolute;
    background-image: url(../images/how-we-do/linenew.png);
    background-repeat: no-repeat;
    height: 1px;
    width: 268px;
    background-size: cover;
    z-index: -1;
    right: -100px;
    top: 50%;
}

.how-we-do-area .how-we-do-right-content .how-we-do-items:nth-child(2) .how-we-do-card + .how-we-do-card .line-shape {
    right: auto;
    left: -100px;
}

.how-we-do-area .how-we-do-right-content .how-we-do-items:first-child .how-we-do-card:last-child .line-shape {
    height: 181px;
    /* border-right: 1px dashed #ffffff;
    border-bottom: 1px dashed #ffffff;
    border-radius: 0 30px 30px 0; */
    background-image: url(../images/how-we-do/linenew2.png);
    background-repeat: round;
}

.how-we-do-area .how-we-do-right-content .how-we-do-items:nth-child(2) .how-we-do-card:first-child .line-shape {
    background-image: url(../images/how-we-do/dashed-line.svg);
}

.how-we-do-area .how-we-do-right-content .how-we-do-items:nth-child(2) .how-we-do-card:first-child .line-shape {
    right: auto;
    left: -84px;
    background-image: url(../images/how-we-do/linenew3.png);
    background-repeat: round;
}

.how-we-do-area .how-we-do-right-content .how-we-do-items:nth-child(2) .how-we-do-card:first-child .line-shape {
    height: 181px;
    /* border-bottom: 1px dashed #ffffff;
    border-left: 1px dashed #ffffff;
    border-radius: 30px 0 0 30px; */
}

.how-we-do-area .how-we-do-right-content .how-we-do-items:nth-child(2) .how-we-do-card .circle-shape {
    left: auto;
    right: -10px;
}

.how-we-do-area .how-we-do-right-content .how-we-do-items:last-child .how-we-do-card .line-shape {
    display: none;
}
/* How-We-Do End */